VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=sozu-admin-dev.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sozu-admin-dev
VITE_FIREBASE_STORAGE_BUCKET=sozu-admin-dev.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_GITHUB_TOKEN=ghp_...          # PAT con scopes repo + read:org (cuenta jorgeIMendoza)
VITE_GITHUB_REVIEWER_TOKEN=ghp_... # PAT con scope repo (cuenta jorge-mendoza-corella, para aprobar PRs)
